/* purgecss start ignore */
@import url("https://use.typekit.net/xzu2rwz.css");

@tailwind base;
@tailwind components;

html { font-size: 12px; }

/* purgecss end ignore */
@tailwind utilities;

.logo {
  top: 8px;
  height: 5.5rem;
}

.stroked {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.filled {
  fill: currentColor;
}
